header {
	height: 26vh;
	& img {
		height: 63px;
	}
}

.content {
	height: 52vh;
	& > div {
		margin-top: 5vh;
	}
	& .desc {
		color: #000;
		font-family: 'FuturaFuturisC', serif;
		font-size: 72px;
		line-height: 87px;
		margin: 0 auto;
	}
	& .soon {
		color: #ec1b23;
		font-size: 27px;
		letter-spacing: -1px;
		padding-top: 6.7vh;
	}
}

footer {
	height: 22vh;
	color: #000;
	font-size: 35px;
	& a {
		color: #ec1b23;
		&:hover {
			text-decoration: underline;
		}
	}
	& .phone {
		font-size: 24px;
	}
	& .mail {
		padding: 14px;
		font-size: 14.6px;
		& a {
			color: #000;
		}
	}
	& .copyright {
		font-size: 14.6px;
	}
}

.middle-parent img,
.desc,
.soon,
.phone,
.mail,
.copyright {
	opacity: 0;
}