@import "includes/fonts";
@import "includes/reset";
@import "includes/settings";
@import "header";
@import "content";
@import "footer";
@import "includes/media";

html, body {
	overflow-x: hidden;
	text-align: center;
	font-family: "FuturaLightC", serif;
}

.middle {
	vertical-align:middle;
	display: table-cell;
}

.middle-parent {
	display: table;
	width: 100%;
}