@font-face {
	font-family: 'FuturaFuturisC';
	src: url('fonts/FuturaFuturis/KozGoPr6N-Regular.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/FuturaFuturis/KozGoPr6N-Regular.woff') format('woff'), 
		 url('fonts/FuturaFuturis/KozGoPr6N-Regular.ttf')  format('truetype'), 
		 url('fonts/FuturaFuturis/KozGoPr6N-Regular.svg#KozGoPr6N-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaFuturisC';
	src: url('fonts/Regular/futurafuturisc-webfont.eot');
	src: url('fonts/Regular/futurafuturisc-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Regular/futurafuturisc-webfont.woff2') format('woff2'),
		 url('fonts/Regular/futurafuturisc-webfont.woff') format('woff'),
		 url('fonts/Regular/futurafuturisc-webfont.ttf') format('truetype'),
		 url('fonts/Regular/futurafuturisc-webfont.svg#futurafuturiscregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaLightC';
	src: url('fonts/Light/futurafuturislightc-webfont.eot');
	src: url('fonts/Light/futurafuturislightc-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Light/futurafuturislightc-webfont.woff2') format('woff2'),
		 url('fonts/Light/futurafuturislightc-webfont.woff') format('woff'),
		 url('fonts/Light/futurafuturislightc-webfont.ttf') format('truetype'),
		 url('fonts/Light/futurafuturislightc-webfont.svg#futurafuturislightcregular') format('svg');
	font-weight: normal;
	font-style: normal;

}