@media (max-width: 720px) {
	.content .desc {
		font-size: 7.8vw;
		line-height: 10vw;
		padding: 0 0.2vw;
	}
}

@media (max-width: 500px) {
	.content {
		height: 40vh;
		& .soon {
			font-size: 20px;
		}
		& > div {
			margin-top: 3vh;
		}
	}
}